.git
.gitignore
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.vscode/
.idea/

notebooks/
tmp/
cache/

data/
!data/.gitkeep

*.ipynb
*.log

node_modules/

models/*.pth
models/*.onnx